@font-face {
    font-family: 'bw_mitgabold';
    src: url('bwmitga-bold-webfont.woff2') format('woff2'),
         url('bwmitga-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
body{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
p, h1 {
color: white;
font-size: 50px;
margin:0;
box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
background-color: #ffffff;
color: #333;
transition-delay: 0.50s;
position: relative;
display: inline-block;
padding: 15px 30px;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 4px;
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
font-family: 'bw_mitgabold';


  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
